@{ 
    ViewBag.Title = "Home Page";
}

<h3>Karthik Nagabandi</h3>
<h4><i>If you are standing still then you are moving backwards</i></h4>
<p> Welcome ! </p>
<form>
    <div>
        <label> Date </label>
        <input />
    </div>
    <div>
        <label> Location </label>
        <input />
    </div>
    <div> <input type="submit" value="Add" /></div>
</form>