@{
    ViewBag.Title = "Resume";
}


<html>
<head>

    <link href="~/css/skeleton.css" rel="stylesheet" />

</head>

<body>

    <div class="container">
        <h2>R&eacute;sum&eacute;</h2>

        <div class="row">
            <div class="col-sm-4"><a href="#resume-employment" class="text-center blue"><p>Employment</p></a></div>
            <div class="col-sm-4"><a href="#resume-education" class="text-center blue"><p>Education</p></a></div>
            <div class="col-sm-4"><a href="#resume-skills" class="text-center blue"><p>Skills</p></a></div>
        </div>
        <div class="row">
            <div class="col-sm-4"><a href="#resume-projects" class="text-center blue"><p>Projects</p></a></div>

            <div class="col-sm-4"><a href="#resume-publications" class="text-center blue"><p>Publications</p></a></div>
            <div class="col-sm-4"><a href="~/attachments/Karthik_Resume_2.pdf" target="_blank" class="text-center blue"><p>Download</p></a></div>
        </div>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <div>
            <div class="row">
                <div class="twelve" columns>
                    <h4 id="resume-employment" class="section-title">Employment</h4>
                    <div class="line"> </div>
                </div>
            </div>

            <!-- === -->

            <div class="row">
                <div class="twelve columns">
                    <p>
                        <strong>Software Developer</strong>
                        <span class="u-pull-right">February 2012 &mdash; Present</span>
                        <br>
                        <span class="italic"><a href="http://www.bentley.com" target="_blank" class="link"> Bentley Systems, Inc.</a></span>
                        <span class="italic u-pull-right">Portland, OR</span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <ul>

                        <li> Working on Various Bentley products like Open Plant Modeler V8i, which is the first 3D CAD Plant Modeling Software. </li>
                        <li> Involved in product development. </li>
                        <li> Working on projects related to User Interface and Client requests for modeling. </li>

                        <li>

                            <span class="italic">[C#, C++, ASP.NET(Web Forms, MVC), JavaScript, AngularJS, REST API, SQL Server, SSRS]</span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- === -->



            <div class="row">
                <div class="twelve columns">
                    <p>
                        <strong>Web Developer &amp; Asst. System Administrator </strong>
                        <span class="u-pull-right">September 2010 &mdash; December 2011</span>
                        <br>
                        <span class="italic"><a href="http://www.cse.lsu.edu/" target="_blank" class="link"> Department of Computer Science </a></span>
                        <span class="italic u-pull-right">Baton Rouge, LA</span>
                        <br>
                        <span class="italic"> <a href="http://www.lsu.edu/" target="_blank" class="link"> Louisiana State University </a></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <ul class="resume-list">
                        <li>Responsibilities as a Web Developer include designing and developing web sites using scripting languages such as HTML, CSS, JavaScript, PHP </li>
                        <li>Responsibilities as an Assistant System Administrator include maintaining servers, managing systems in Laboratory, Troubleshooting, and Networking</li>
                    </ul>
                </div>
            </div>

            <!-- === -->



        </div>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <div>
            <div class="row">
                <div class="twelve columns">
                    <h4 id="resume-education" class="section-title">Education</h4>
                    <div class="line"> </div>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <p>
                        <strong>M.S, Computer Science</strong>
                        <span class="u-pull-right">June 2010 &mdash; December 2011</span>
                        <br>
                        <span class="italic">Louisiana State University</span>
                        <span class="u-pull-right italic">Baton Rouge, LA</span>
                        <br>
                        Dissertation:
                        <a href="~/attachments/Karthik-project.pdf" target="_blank" class="link">
                            Advanced Learning Mechanism for Smart Access Control System (SAC System)
                        </a>
                        <br>
                        <span><i> Formal Coursework: </i></span>
                        <span>
                            Advanced Operating Systems, Scientific Computing, Computer Architecture, Autonomous Sensor Systems,
                            Algorithms Design and Analysis, Distributed Algorithms, Machine Learning, Sensor Networking Concepts, Database Management Systems
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <p>
                        <strong>B.Tech, Computer Science</strong>
                        <span class="u-pull-right">August 2006 &mdash; May 2010</span>
                        <br>
                        <span class="italic">SRM University</span>
                        <span class="u-pull-right italic">Chennai, India</span>
                        <br>
                        Dissertation:
                        <a href="~/attachments/undergrad_dissertation.pdf" target="_blank" class="link">
                            Controlling IP Spoofing through Inter Domain Packet Filters
                        </a>
                        <br>
                        <span><i> Formal Coursework: </i></span>
                        <span>
                            Data Structures, Compiler Design, Object Oriented Analysis and Design, Operating Systems, Computer Networks, DBMS, Microprocessors,
                            Electronic Devices and Circuits, Digital Electronics, Electric Circuit Analysis, Embedded Systems, Network Security

                        </span>
                    </p>
                </div>
            </div>

            @*<div class="row">
                <div class="twelve columns">
                    <strong>Supplementary Online Courses:</strong>
                    <br>
                    <ul>
                        <li><strong>Udacity</strong>: Web Development, Programming Languages, Parallel Programming (GPU/CUDA), Machine Learning</li>
                        <li><strong>Coursera</strong>: Data Science Signature Track (R Programming, Statistics, Data Wrangling), Machine Learning, Algorithms, Databases, Neural Networks</li>
                    </ul>
                </div>
            </div>
        </div>*@

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <div>
            <div class="row">
                <div class="twelve columns">
                    <h4 id="resume-skills" class="section-title">Technical skills</h4>
                    <div class="line"> </div>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Proficiency in descending order from left to right</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Programming Languages</td>
                        <td>C#, Python, JavaScript, C++, C, ASP.NET</td>
                    </tr>
                    <tr>
                        <td>Web Technologies</td>
                        <td>HTML, CSS, AngularJS, jQuery, AJAX, Node.js</td>
                    </tr>
                    <tr>
                        <td>Databases/Storage</td>
                        <td> MySQL, SQL Server</td>
                    </tr>


                    <tr>
                        <td>Productivity Tools</td>
                        <td>git, vim, LaTeX, JIRA, svn</td>
                    </tr>
                    <tr>
                        <td>Software Engineering</td>
                        <td>Test driven development (units/smoke/integration), architecture design, code review, agile dev</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <div>
            <div class="row">
                <div class="twelve columns">
                    <h4 id="resume-projects" class="section-title">Projects &amp; Additional Experience</h4>
                    <div class="line"> </div>
                </div>
            </div>

            <!-- === -->


            <div class="row">
                <div class="nine columns">
                    <a href="#header" target="_blank" class="link">
                        <p>Personal Website</p>
                    </a>
                </div>
                <div class="three columns">
                    <p class="u-pull-right">2016 &mdash; present</p>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <p class="resume-subtext">
                        Full stack coding, back-end to front-end; dynamic blog database. <br>
                        <span class="italic">[HTML, CSS/SCSS, JavaScript/jQuery/Node.js, MySQL, Skeleton, ASP.NET Core, EF 6, AngularJS 1, Bootstrap, LightGallery]</span> <br>
                        <span> <a href="https://github.com/awlange" target="_blank" class="link">Git Hub Repo</a>. </span>
                    </p>
                </div>
            </div>


        </div>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <div>
                <div class="row">
                    <div class="twelve columns">
                        <h4 id="resume-publications" class="section-title">Publications</h4>
                        <div class="line"> </div>
                    </div>
                </div>

                
            </div>




        <div class="line-close"></div>
    </div>

</body>


</html>
















































        @*<div align="center">
                <h3><u>Employment</u></h3>
                <p> Software Developer </p>

            </div>*@


        @*<div>
                <div class="row">
                    <div class="twelve columns">
                        <h4 id="resume-employment" class="section-title">employment</h4>
                        <div class="line"> </div>
                    </div>
                </div>

                <div class="row">
                    <div class="twelve columns">
                        <p>
                            <strong>Big Data Engineer, iTunes Analytics</strong>
                            <span class="u-pull-right">May 2015 &mdash; Present</span>
                            <br>
                            <span class="italic">Apple, Inc.</span>
                            <span class="italic u-pull-right">Cupertino, CA</span>
                        </p>
                    </div>
                </div>
            </div>




            <div align="center">
                <h3><u>Education</u></h3>
            </div>

            <div align="center">
                <h3><u>Skills</u></h3>
            </div>



            <div align="center">
                <h3><u>Projects</u></h3>
            </div>*@
